name: Validate

on: [push]

jobs:
  validate:
    runs-on: windows-latest    
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    
    - run: echo "::add-matcher::.github/workflows/src-lint.json"

    - run: docker run -i --rm -v ${{ github.workspace }}:/target -w /target koudenpa/srcdatalinter:latest /target
